<!DOCTYPE html>
<html>
<head>
    <title>Practice - Creating a Strong Password</title>
	<meta charset="utf-8" />
    <link href="../lib/bootstrap.css" rel="stylesheet" />
    
    <link href="../styles/practiceStyles.css" rel="stylesheet" />

    <script src="../lib/jquery-2.1.0.min.js"></script>
    <script src="../lib/angular.min.js"></script>
    <script src="../scripts/ngScripts.js"></script>
    
</head>
<body ng-app="pwdSecApp"  ng-controller="pwdSecurityCtrl">
 <!--Step 1 select word or words-->
    <div id="SelectWordPractice" data-role="page" class="contentPage ui-content">
        <div data-role="header" class="ui-content headerPage">
            <hgroup>
            <h1>Creating a memorable strong password : Step by step procedures </h1>
            </hgroup>
            
        </div>
        <div data-role="main" class="ui-content mainPage">
            <div class="mainPageHeader">
                Step 1: Enter two words in the following blank spaces that you can easily remember.
            </div>
            <div class="mainPageContent">
                The total number of words must be greater than 8 letters.
                Example:good attitude  or thomas david or boulder colorado
            </div>
            <div class="mainPageInput">
                Word 1: <input type="text" ng-model="firstWord" placeholder="Enter first word" /><br />
                Word 2: <input type="text" ng-model="secondWord" placeholder="Enter second word" /><br />
            </div>
            Selected Words:
            <div class="mainPageOutput">
                <span ng-bind="firstWord"></span> <span ng-bind="secondWord"></span>
            </div>
        </div>
        <a href="#capitalizePractice" class="nextPage">Next</a><br />
        <div data-role="footer" class="ui-content footerPage">
            <h6>Prepared By: Haileab A Gebrekidan  email:haileab.abrha@gmail.com</h6>
            <p><abbr title="Information Technology and Infomation Security">IT and IS</abbr></p>
        </div>
    </div>
 <!--Step 2 Capitalize some of the letters based on the rule-->
    <div id="capitalizePractice" data-role="page" class="contentPage ui-content">
        <div data-role="header" class="ui-content headerPage">
            <hgroup>
                <h1>Creating a memorable strong password : Step by step procedures</h1>
            </hgroup>
            
        </div>
        <div data-role="main" class="ui-content mainPage">
            <div class="mainPageHeader">
                Step 2: Select Capitalization rule from the following 
            </div>
            <div class="mainPageContent"></div>
            <div class="mainPageInput">
                <form>
                    <input type="radio" value="first" name="capitalize" ng-model="capitalizeRule" />
                    Capitalize the first letter of the word. Example:sweet home = Sweet Home<br />
                    <input type="radio" value="second" name="capitalize" ng-model="capitalizeRule" />
                    Capitalize the second letter of the word Example:sweet home = sWeet hOme<br />
                    <input type="radio" value="last" name="capitalize" ng-model="capitalizeRule" />
                    Capitalize the last letter of the word: Example:sweet home = sweeT homE<br />
                </form>
            </div>
            Selected Words :
            <div class="mainPageOutput">
                
                <span ng-bind="firstWord"></span> <span ng-bind="secondWord"></span>
            </div>
            Words with Capitalization Rule :
            <div class="mainPageOutput" ng-switch="capitalizeRule">
                
                <div ng-switch-when="first">
                    <span> {{firstWord |firstLetterUpperCase}} {{secondWord |firstLetterUpperCase}}</span>
                </div>
                <div ng-switch-when="second">
                    <span>{{firstWord |secondLetterUpperCase}} {{secondWord |secondLetterUpperCase}}</span>
                </div>
                <div ng-switch-when="last">
                    <span> {{firstWord |lastLetterUpperCase}} {{secondWord |lastLetterUpperCase}}</span>
                </div>
            </div>
        </div>
        <a href="#SelectWordPractice" class="previousPage">Previous</a><a href="#substituteSpacePractice" class="nextPage">Next</a>
        <div data-role="footer" class="ui-content footerPage">
            <h6>Prepared By: Haileab A Gebrekidan  email:haileab.abrha@gmail.com</h6>
            <p><abbr title="Information Technology and Infomation Security">IT and IS</abbr></p>

        </div>
    </div>
    <!--Substitute space by special characters-->
    <div id="substituteSpacePractice" data-role="page" class="contentPage ui-content">
        <div data-role="header" class="ui-content headerPage">
            <hgroup>
                <h1>Creating a memorable strong password : Step by step procedures</h1>
            </hgroup>
        </div>
        <div data-role="main" class="ui-content mainPage">
            <div class="mainPageHeader">
                Step 3: Substitute the space with numbers from 0-9 
            </div>
            <div class="mainPageContent">
                Example:substitute the space by 5     Good Employee = Good5Employee
             </div>
            Select the Number that you would like to Substitute with Space:
            <div class="mainPageInput">
                <input type="number" min="0" max="9" value="7" ng-model="selectedNumber" />
            </div>
            The Password with Capitalization Rule is:
            <div class="mainPageOutput">
                <div ng-switch="capitalizeRule">
                    <div ng-switch-when="first">
                        <span class="concatCapitalizeWords"> {{firstWord |firstLetterUpperCase}} {{secondWord |firstLetterUpperCase}}</span>
                    </div>
                    <div ng-switch-when="second">
                        <span class="concatCapitalizeWords"> {{firstWord |secondLetterUpperCase}} {{secondWord |secondLetterUpperCase}}</span>
                    </div>
                    <div ng-switch-when="last">
                        <span class="concatCapitalizeWords"> {{firstWord |lastLetterUpperCase}} {{secondWord |lastLetterUpperCase}}</span>
                    </div>
                </div>
                </div>
                The password with numbers
                <div class="mainPageOutput">
                    <div ng-switch="capitalizeRule">
                        <div ng-switch-when="first">
                            <span class="concatCapitalizeWords"> {{firstWord |firstLetterUpperCase}}{{selectedNumber}}{{secondWord |firstLetterUpperCase}}</span>
                        </div>
                        <div ng-switch-when="second">
                            <span class="concatCapitalizeWords"> {{firstWord |secondLetterUpperCase}}{{selectedNumber}}{{secondWord|secondLetterUpperCase}}</span>
                        </div>
                        <div ng-switch-when="last">
                            <span class="concatCapitalizeWords"> {{firstWord |lastLetterUpperCase}}{{selectedNumber}}{{secondWord |lastLetterUpperCase}}</span>
                        </div>
                    </div>
                </div>
            <a href="#capitalizePractice" class="previousPage">Previous</a><a href="#substituteVowelPractice" class="nextPage">Next</a>
            </div>
        <div data-role="footer" class="ui-content footerPage">
            <h6>Prepared By: Haileab A Gebrekidan  email:haileab.abrha@gmail.com</h6>
            <p><abbr title="Information Technology and Infomation Security">IT and IS</abbr></p>

        </div>
    </div>
    <!--Substitute vowels by special characters-->
    <div id="substituteVowelPractice" data-role="page" class="contentPage ui-content">
        <div data-role="header" class="ui-content headerPage">
            <hgroup>
                <h1>Creating a memorable strong password : Step by step procedures</h1>
            </hgroup>
        </div>
        <div data-role="main" class="ui-content mainPage">
            <div class="mainPageHeader">
                Step 4: Substitute vowels with special characters or numbers
            </div>
            <div class="mainPageContent">
                Substitute vowels with special characters for instance Substitute a with & and o with 0(zero).
                <span>Example: Good Employee = G00d5Empl0y33 </span>
            </div>
            <div class="mainPageInput">
                <span>a</span> :<select id="aSubstitute" ng-model="aSubChars" ng-options="x for x in specialCharacters"></select>
                <span>e</span> :<select id="eSubstitute" ng-model="eSubChars" ng-options="x for x in specialCharacters"></select>
                <span>i</span> :<select id="iSubstitute" ng-model="iSubChars" ng-options="x for x in specialCharacters"></select>
                <span>o</span> :<select id="0Substitute" ng-model="oSubChars" ng-options="x for x in specialCharacters"></select>
                <span>u</span> :<select id="uSubstitute" ng-model="uSubChars" ng-options="x for x in specialCharacters"></select>
            </div>
            <div class="mainPageOutput">
               
            </div>
            <a href="#substituteSpacePractice" class="previousPage">Previous</a><a href="#testStrength" class="nextPage">Next</a>
            </div>
            <div data-role="footer" class="ui-content footerPage">
            <h6>Prepared By: Haileab A Gebrekidan  email:haileab.abrha@gmail.com</h6>
            <p><abbr title="Information Technology and Infomation Security">IT and IS</abbr></p>
            </div>
        
    </div>
    <!--testing the strength-->
    <div id="testStrength"  data-role="page" class="contentPage ui-content">
        <div data-role="header" class="ui-content headerPage">
            <hgroup>
                <h1>Creating a memorable strong password : Step by step procedures</h1>
            </hgroup>
        </div>
        <div data-role="main" class="ui-content mainPage">
            <div class="mainPageHeader">
                Step 5: Test the strength of the password
            </div>
            <div class="mainPageContent"></div>
            <div class="mainPageInput"></div>
            <div class="mainPageOutput"></div>
        </div>
            <a href="#substituteSpacePractice" class="previousPage">Previous</a>   
        <div data-role="footer" class="ui-content footerPage">
            <h6>Prepared By: Haileab A Gebrekidan  email:haileab.abrha@gmail.com</h6>
            <p><abbr title="Information Technology and Infomation Security">IT and IS</abbr></p>
        </div> 
    </div>
</body>
</html>
